.about-text-info {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    padding: 35px;
}

h2.title-about {
    font-size: 35px;
}

p.description-about {

    font-weight: 300;
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .top-container {
        flex-direction: column !important;
        padding: 15px 15px 15px 15px;
    }

    .about-text-info {
        padding: 15px 15px 15px 15px;
    }

    h2.title-about {
        font-size: 32px;
    }

}