svg.icon {
    width: 40px;
}

.info-contact-cantainer .contacts li {
    display: flex;
    align-items: center;
}

.info-contact-cantainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    padding-top: 50px;
}

.contacts-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
}

.contacts-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.info-contact-cantainer .contacts {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
}

a.facebook {
    display: flex;
    align-items: center;
}

a.mail {
    display: flex;
    align-items: center;
}

a.github {
    display: flex;
    align-items: center;
}

a.phone {
    display: flex;
    align-items: center;
}

.contacts-first span {
    font-size: 35px;
    padding-left: 15px;
}

.contacts-second span {
    font-size: 35px;
    padding-left: 15px;
}

.info-contact-cantainer a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}