.my-skills-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

p.description-skills {
    width: 100px;
    height: 100px;
    color: white;
    background: #484342;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.my-skills-info p {
    margin: 5px;
}

@media only screen and (max-width: 768px) {
    .my-skills-info {
        flex-direction: column;
    }


}