@import "about.css";
@import "avatar.css";
@import "info-cantact.css";
@import "skills.css";

body {
    max-width: 1268px;
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
}


.top-container {
    display: flex;
    flex-direction: row;
}
